{% extends 'base.html' %}

{% block title %}
YouTube Downloader
{% endblock %}

{% block nav %}
<ul class="navbar-nav gap-2 ms-auto mb-2 mb-lg-0">
    <li class="nav-item">
          <a class="nav-link active text-center" aria-current="page" href="/">Download</a>
    </li>
    <li class="nav-item">
          <a class="nav-link text-center" aria-current="page" href="/about"">About</a>
    </li>
  </ul>
{% endblock %}

{% block body %}
<div class="container py-4">
    <h2 class="text-center mb-3">Скачайте видео из YouTube в несколько кликов!</h2>
        <form method="post" class="d-flex gap-1 mb-3 mx-auto auto-width">
            <input type="text" class="form-control" name="urlInput" id="urlInput" placeholder="https://www.youtube.com/...">
            <input type="submit" class="btn btn-primary" value="Скачать">
        </form>
</div>
{% endblock %}


