{% extends 'base.html' %}

{% block title %}
YouTube Downloader
{% endblock %}

{% block body %}
<div class="container py-4">
    <h2 class="text-center mb-3">Скачайте видео из YouTube в несколько кликов!</h2>
    <div class="d-flex gap-1 w-75 mb-3 mx-auto">
        <input type="text" class="form-control" id="urlInput" placeholder="https://www.youtube.com/...">
        <!-- СДЕЛАТЬ АДАПТИВНОСТЬ -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Качество
            </button>
            <ul class="dropdown-menu">
                <!-- НАРАЩИВАНИЕ ШАБЛОНИЗАТОРОМ -->
                <li><a class="dropdown-item" href="#">Action</a></li>
            </ul>
        </div>
        <button type="button" class="btn btn-primary">
            Скачать
        </button>
    </div>
</div>
{% endblock %}

{% block nav %}
<ul class="navbar-nav gap-2 ms-auto mb-2 mb-lg-0">
    <li class="nav-item">
          <a class="nav-link active text-center" aria-current="page" href="/">Download</a>
    </li>
    <li class="nav-item">
          <a class="nav-link text-center" aria-current="page" href="/about"">About</a>
    </li>
  </ul>
{% endblock %}
